name: Deploy React App

on:
  push:
    branches:
      - main # You can change this to your desired branch

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and dependencies
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: SSH into the server and remove the older folder
        run: |
          ssh -i ${{ secrets.AWS_PRIVATE_KEY }} ubuntu@${{ secrets.EC2_PUBLIC_IP }} 'sudo rm -rf /home/ubuntu/actions-runner/_work/Company-page/Company-page/build'

      - name: Deploy to server
        run: |
          scp -i ${{ secrets.AWS_PRIVATE_KEY }} -r build/ ubuntu@${{ secrets.EC2_PUBLIC_IP }}:/home/ubuntu/actions-runner/_work/Company-page/Company-page/
