name: Deploy React App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js and dependencies
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: SSH into the server and remove the older folder
        run: | 
          ssh -i ${{ secrets.VH_KEY }} root@variationhub.com
          sudo rm -rf /home/ubuntu/actions-runner/_work/Company-page/Company-page/build
            
      - name: Deploy to server
        run: "scp -i ${{ secrets.VH_KEY }} build/ root@variationhub.com:/home/ubuntu/actions-runner/_work/Company-page/Company-page/build"
          

      
